<div id="title">  
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p> 
</div>

<article class="about">
  <h2>Sobre mi</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     Aenean venenatis semper purus, vitae ullamcorper leo laoreet nec. 
     Cras molestie leo neque, vitae mattis arcu finibus at. 
     Praesent sagittis nisl sit amet urna cursus sollicitudin. 
     Proin ultrices volutpat leo sit amet imperdiet. 
     Mauris vel urna ac odio consequat ullamcorper nec ac ante. 
     Nam auctor consectetur laoreet. Integer condimentum sem ut orci consectetur porta. 
     Praesent fermentum quam quis massa convallis, lacinia sollicitudin turpis sollicitudin. 
     Proin bibendum ipsum non urna consectetur malesuada. Nullam porta risus nec dui bibendum auctor. 
     Curabitur a ex odio. Aenean consectetur metus id lacinia pretium. 
     Aliquam at velit a nunc accumsan sollicitudin. 
     Phasellus vel pharetra neque, eu pretium felis.
  </p>
  
</article>